<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.ProductMapper">
    <!-- pageQueryProducts -->
    <select id="pageQueryProducts" resultType="com.sky.entity.Product">
        SELECT * FROM products
        <where>
            <if test="merchantId != null">
                and merchant_id = #{merchantId}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
        </where>
        order by created_at desc
    </select>

    <!-- getById -->

    <select id="getById" resultType="com.sky.entity.Product">
        SELECT * FROM products
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
        </where>
    </select>

    <!-- update -->

    <update id="update" parameterType="com.sky.entity.Product">
        UPDATE products
        <set>
            <if test="merchantId != null">
                merchantId = #{merchantId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="imageUrl != null">
                image_url = #{imageUrl},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>